DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/reservation_db?schema=public"
JWT_SECRET="kmutnb-parliament-secret-key-2026-super-secure"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
